@media only screen and (min-width: 35rem) {

.footerdesign {
   display: flex;
    
}

.footleft {
    display: flex;
    flex-direction: row;
    border: 2px solid lawngreen;
    text-align: left;
    padding: 5px;
    margin: 10px;
    justify-content: space-evenly;

}

.footright {
    display: flex;
    flex-direction: row;
    border: 2px solid yellow;
   padding: 5px;
    text-align: left;
    margin-left: 5px;
    justify-content: flex-end;
}
footer {
margin: 5px;
}

}