@media only screen and (min-width: 35rem) {

    /* NAV BAR */
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    #primarynav ul {
        flex-direction: row;
    }

    nav button {
        display: none;
    }

    .bottomnav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-radius: 5px;
        margin-top: 0;
       
    }

    nav ul li a {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    nav ul.hide {
        display: flex;
    }

    /*END OF NAV*/

    /* HEADER LOGO */
    .bigtitle {
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    /* END OF HEADER*/


    .footerdesign {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;

    }

    .footleft {
        display: flex;
        flex-direction: row;
        border: 2px solid white;
        text-align: left;
        padding: 5px;
        margin: 10px;
        justify-content: space-evenly;
        align-content: flex-start;
    }

    .footright {
        display: flex;
        flex-direction: row;
        border: 2px solid white;
        padding: 5px;
        text-align: left;
        margin-left: 5px;
        justify-content: flex-end;
        align-content: center;
    }

    footer {
        margin: 5px;
    }

    .bottomtitle {
        display: flex;
        flex-direction: row;
        text-align: left;
        padding: 10px;
        align-items: center;
    }

    .bottomtitle>h2 {
        padding-left: 10px;
    }

    h4:nth-child(3) {
        padding-left: 10px;
    }

    p:nth-child(4) {
        padding-left: 10px;
    }

    /* FLOWERS ON THANKS.HTML*/
    .moveit20 {
        margin-left: 20px;
    }

    .moveit100 {
        margin-left: 200px;
        position: relative;
    }

    .moveit500 {
        margin-left: 500px;
        position: relative;
    }

    /*END OF FLOWERS ON THANKS HTML*/

    /* INDEX CURRENT WEATHER BOX */
    .cweatherbox {
        width: 300px;
    }

    .leftside {
        padding: 10px;
    }

    .rightside {
        /* width: 50%; */
        padding: 10px;
    }

    /* THINGS TO DO */
    #thingstodomain {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }

    .thingstodo {
        padding: 25px;
    }

    #thingstodomain p {
        font-family: 'Merriweather', serif;
        line-height: 1.75;
        font-size: 1.25em;
    }

    .bigpicture {
        background-color: rgb(8, 118, 190);
        align-items: center;
    }

    .calltoaction {
        position: absolute;
        margin-left: 150px;
        font-size: 4em;
        color: white;
        font-family: 'Rowdies', cursive;
        text-shadow: 2px 2px 2px rgb(8, 118, 190);
    }

    /* BIGTITLE */
    .bigtitle {
        text-align: start;
        margin: 5px auto 10px 40px;
        color: rgb(8, 118, 190);
    }

    .bigtitle h1 {
        font-size: 5em;
        margin: 5px;
    }

    .bigtitle h2 {
        margin: 5px;
        font-size: 3em;
    }
    #fullcard {
        display: flex;
        flex-direction: row;
        width: 50%;
        margin: 10px auto 10px auto;
        background-color: white;
    }
    .allweather {
        display: flex;
        flex-direction: row;
        font-size: 1em;
        }
        .ftable td {
            border: 2px solid rgb(8,118,190);
            height: 50px;
            padding: 10px;
           
        }
        .ftabel {
            border-collapse: collapse;
        }
}