/* red rgb(237,28,36)
purple rgb(121,55,183)
pink rgb(236,0,106)
yellow rgb(255,246,0)
teal rgb(52,160,170)
blue rgb(8,118,190)
green rgb(26,113,9)
original green rgb(27,166,0) */

footer {
background-color: rgb(8,118,190);
color: #ffffff;
}
header {
    background-color: rgb(255,246,0);
    color: black;
}
h1 {
   font-family: 'Galada', cursive;
}
body {
    font-family: 'Rubik', sans-serif;
}
main {
background-color: rgb(236,0,106);
}
.currentweather {
background-color: rgb(52,160,170);
height: 100px;
}