@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Pacifico&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(221, 221, 213, 0.489);
    max-width: 920px;
}

header {
    background-color: #373F9E;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-family: 'Pacifico', cursive;
    
}
header img {
     float: right;
     margin: 10px;
    
}
.midSection {
    font-family: "Lucida Console", Monaco, monospace;
    margin-left: 10px;
    margin-right: 5px;
}
footer {
    background-color: #373F9E;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    border-radius: 15px;

}
footer a {
    color: white;
}