body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f1b6;


}

header,
main,
footer {
    margin: 20px auto;
    max-width: 920px;
}

header {
    background-color: #373F9E;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    font-family: 'Pacifico', cursive;

}

h1 {
    font-size: 3em;
}

h2 {
    border-bottom: 5px solid #373F9E;

}

header img {
    float: right;
    margin: 10px;

}

.midSection {
    background-color: #f2f1b6;
    margin-left: 10px;
    margin-right: 5px;
    color: #373F9E;
}

footer {
    background-color: #373F9E;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    border-radius: 15px;

}

footer a {
    color: white;
}
#yellow {
    color: yellow;
    
}