body {
max-width: 650px;
background-color: lightblue;
}
form {
background-color: lightpink;
}
.pinfo {
display: block;
background-color: yellow;
}

.abtstm {
/* background-color: blue; */
display: block;
}