body {
    background-color: #967051;
    font-family: 'Cabin', sans-serif;  
    color: white;
    
}
header {
    text-align: center;
    letter-spacing: 3px;
    background-color: #db7782;
    padding: 5px;
    color: #3a6658;
    border-radius: 10px;
}
header h2 {
    font-family: 'Abril Fatface', cursive;
}

.gridcontainer {

} 
.gridbox {
    text-align: center;
    
    background-color:#3a6658    ;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
footer {
    text-align: center;
    background-color:#db7782;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}
img {
    width: 75%;
    border-radius: 5px;
}
.parasettings {
    background-color: #ffffff;
    padding: 10px;
    font-size: 1.5em;
    color: #2d5147;
}
h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 3em;
}
h2 {
    font-family: 'Cabin', sans-serif;
}
a:link {
    color:blue;
    text-decoration: none; 
}
a:hover {
color: red;


}



