body {
    background-color: #e6e3cc;
    font-family: 'Josefin Sans', sans-serif;  
    
}
header {
    text-align: center;
    background-color:#e6cccc;
    padding: 5px;
}

.gridcontainer {

} 
.gridbox {
    text-align: center;
    background-color: palevioletred;
    margin: 5px;
    padding: 5px;
}
footer {
    text-align: center;
}
img {
    width: 75%;
}
.parasettings {
    background-color: #ffffff;
    padding: 10px;
    font-size: 1.5em;
}