body {
    background-color: red;
}
@media only screen and 
(min-width: 500px) {



main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: thistle;
}
main section {
    background: yellow;
    border: 2px solid white;
   margin: 5px;
    text-align: center;
    padding: 5px;

}
}