/* ------PRESTON LARGE CSS----------- */

@media only screen and (min-width: 64rem) {


    .topsection {
        position: relative;
        background-color: rgb(121, 68, 68);
    }

    .gridcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 20px;
        justify-content: center;
    }

    .cards img:hover {
        box-shadow: 0 0 50px #333;
    }

    .towninfo {
        grid-template-columns: 1fr 1fr 1fr;
    }


}