/* -------PRESTON MEDIUM CSS----------- */

@media only screen and (min-width: 32.5rem) {


    main footer {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .clouds {
        display: flex;
        display: row;
    }

    #banner {
        display: block;
    }

    /* NAV SECTION */
    nav ul.hide {
        display: flex;
    }

    nav button {
        display: none;
    }
    nav ul li a {     
        padding: .6rem 1rem;
    }
    .daybox {
        margin: 0;
        padding: 5px;
        align-content: space-around;
        border: 2px solid #7fa663;
        background-color: rgba(128, 176, 216, 0.75);
        width: 100px;
        height: 100px;
        flex: auto;
    }

    .towninfo {
        
        grid-template-columns: 1fr 1fr;
        }
}