
/*Decorative for titles

font-family: 'Love Ya Like A Sister', cursive;
<style>
@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Bowlby+One+SC|Love+Ya+Like+A+Sister|Luckiest+Guy|Special+Elite&display=swap');
</style>
*/
/* Serif for the wording
Quando is nice, try that first
font-family: 'Merriweather', serif;
font-family: 'Quando', serif;
<style>
@import url('https://fonts.googleapis.com/css?family=Merriweather|Neuton|Quando|Taviraj|Vollkorn&display=swap');
</style>
*/
/*
orange #f29c50
dark orange #bf612a
dark orange beige #a98363
burgundy #400803
dark burgundy #200206

grey #a69180
light green #7fa663
pretty green #447322
dark green #335922
darkest grey #0d0d0d
*/
/* -----PRESTON SMALL CSS PAGE---- */



body {
    background-color: #a98363;
    font-family: 'Quando', serif;
    padding: 0em;
    margin: 0;

}
h1 {
    font-family: 'Love Ya Like A Sister', cursive;
   margin-bottom: 0px;

}
header h2 {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    margin-top: 10 auto  auto;

}
/* header {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #7fa663;
} */
header {
    justify-content: center;
    background-color: #7fa663;
}
header img {
    height: 50%;
    align-content: center;
}

.playtogether {
display: flex;
flex-direction: column;
}
nav {
    display: flex;
    
    justify-content: center;
   
    
    
}
nav ul {
    list-style: none;
    flex-direction: column;
}
nav ul li {
    justify-content: center;
