/* #e7f0ed, light light blue cell color
#e7ffed (data rows) light greenand 
#628ca6, dark blue
#7fb9c2  header blue*/
body {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

thead,
tfoot {
    background-color: #7fb9c2;
    text-align: center;
}

table,
th,
td {
    border: 1px solid #bbbcbb;
    border-collapse: collapse;
    padding: 7px;
}


th {
    padding: 8px;
    font-weight: 700;
    font-size: 1.5em;
}

tfoot td:nth-child(1) {
    font-size: .5rem;
    ;
    padding: 5px;
}

tbody tr:nth-of-type(2) {
    background-color: #628ca6;

}

tbody>tr:nth-child(1)>td:nth-child(n +1) {
    background-color: #628ca6;
    color: #ffffff;
    font-weight: 500;
}

tr:nth-child(6)>td:nth-child(1) {
    font-style: italic;
}

tbody tr:nth-child(even) {
    background-color: #e7f0ed;

}

tbody tr:nth-child(odd) {
    background-color: #e7ffed;

}

td:hover {
    background-color: #628ca6;
    color: #ffffff;
}

table {
    box-shadow: 7.5px 7.5px 8px#628ca6;
    margin: auto;
}