/* #e7f0ed, 
#e7ffed (data rows) and 
#628ca6, 
#7fb9c2  */
body {
background-color: white;
font-family: 'Ubuntu', sans-serif;
}
thead, tfoot {
background-color: #7fb9c2;
text-align: center;
}

table, th, td {
border: 1px solid #628ca6;
border-collapse: collapse;
}
th {
padding: 10px;
}