/* font-family: 'Cinzel', serif;
font-family: 'Oswald', sans-serif; */


body {
    background-color:
    font-family: 'Oswald', sans-serif;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
}

section {
    background-color: yellow;
}
h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 3rem;
}
h2 {
    color: #000000;
    font-family: 'Cinzel', serif;
}

p {
    border: 2px solid pink;
    background-color: red;
    margin: 5px;

}

section {
    border: 2px solid green;
    text-align: center;

}

/* LARGE SCREEN  */
@media only screen and (min-width: 64rem) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    body {
        background-image: "images/slctemple7.jpg";
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }

}

/* MEDIUM SCREEN */
@media only screen and (min-width: 400px) and (max-width: 63rem) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}