/* font-family: 'Cinzel', serif;
font-family: 'Lora', serif; */

body {
    background-color: #d2cbb8;
    font-family: 'Lora', serif;

}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;

}

section {
    border: 2px solid rgb(52,50,48, 0.5);
    border-radius: 8px;
    background-color: #ccc6b8;
    margin: 10px;

}

h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 3rem;
    text-shadow: 1px 1px 5px #846209;
}

h2 {
    color: #000000;
    font-family: 'Cinzel', serif;
    margin: 10px;
    padding-top: 5px;
}

p {
    margin: 0;
    font-style: italic;
    padding: .1em;
}
footer {
    background-color: #ccc6b8;
}


section {
    text-align: center;
}

img {
    /* text-shadow: 5px 5px 1px yellow; */
    box-shadow: 0px 0px 15px #6a513d;
    margin: 12px;
    border-radius: 2px;
    /* padding: 10px; */
}


/* and (max-width: 63rem)  */
/* MEDIUM SCREEN */
@media only screen and (min-width: 35rem) {
    .cards {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    body {
        background-image: url(images/slctemple7medium.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    h1 {
        font-size: 5rem;
    }
}
/* LARGE SCREEN  */
@media only screen and (min-width: 64rem) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    body {
        background-image: url(images/slctemple7large.jpg);
       
    }
}