body {
    background-color: lightslategray;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
}

section {
    background-color: yellow;
}

h2 {
    color: green;
}

p {
    border: 2px solid pink;
    background-color: red;
    margin: 5px;

}

section {
    border: 2px solid green;
    text-align: center;

}

/* LARGE SCREEN  */
@media only screen and (min-width: 64rem) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

/* MEDIUM SCREEN */
@media only screen and (min-width: 400px) and (max-width: 63rem) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}