/* background-color: 
light blue  #C2f6ff
lavender #C9ABEB
coral   #FF9582
beige #EBD99B
bright green #78FF75
border: 3px solid red;

blue #3C64E6
med blue #3E98F0
mid green #43B6D9
aqua #3EF0EA
light green #3CE6B0

*/




body {
    background-color:  whitesmoke;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
    margin-bottom: 200px;
    color: #20166B;
}
/* CLASSES AND ID*/
h1 {
    background-color: #3EF0EA;
}
div {
    background-color: yellow;
    padding: 10px;
}
p {
    background-color: #C9ABEB;
    padding: 10px;
}
li {
    background-color:  #3CE6B0;
    border: 1px solid #3C64E6;
    padding: 10px;
    list-style-type: none;
}
ul {
    background-color:  #FF9582;
    padding: 10px;
}
.teal {
background-color: teal;
}
#grey {
    background-color: grey;
}
#salmon {
background-color: salmon;
}
#orange {
background-color: orange;
}
.darkblue {
background-color: darkblue;
}
#mainidea {
    background-color: beige;
    color: mediumvioletred;
    ]


/* ----nth child--- */
h1:nth-child() {
    font-size: 2em;
    color: #003366;
    background-color: yellow;
}

p:nth-child() {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #004d99;
    font-size: 1.2em;
    background-color:  #FF9582;
}

div:nth-child() {
background-color: darkblue;
}

ul:nth-child() {
    background-color:  #EBD99B;
}

li:nth-child(){
    background-color:#C2f6ff;
    list-style-type: square;
}

/*---nth-of-type ----*/
div:nth-of-type() {
    background-color: #3E98F0;
}
p:nth-of-type() {
    background-color: yellow;
}
ul:nth-of-type() {
    background-color: yellow;
}
li:nth-of-type() {
    background-color: red;
}
div:nth-child() > p:nth-child() {
    background-color: red;
}
div li:nth-child() {
background-color: violet;
}
li:nth-child() {
    background-color: lightblue;
}
 div li:nth-child() {
background-color: yellow;
}
/* TEST */
ul:nth-child(3) > li:nth-child(1)
div:nth-child(4)

div:nth-child(1) > p:nth-child(2)

div:nth-child(2)

ul:nth-child(3) > li:nth-child(4)

hr