/* background-color: 
light blue  #C2f6ff
lavender #C9ABEB
coral   #FF9582
beige #EBD99B
bright green #78FF75
border: 3px solid red;

blue #3C64E6
med blue #3E98F0
mid green #43B6D9
aqua #3EF0EA
light green #3CE6B0

*/




body {
    background-color:  whitesmoke;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
    margin-bottom: 200px;
    color: #20166B;
}
h3 {
text-decoration: underline;
}

/* CLASSES AND ID*/
/* h1 {
    background-color: red;
    color: white;
    text-align: center;
}
div {
    background-color: yellow;
    padding: 10px;
}
p {
    background-color: #C9ABEB;
    padding: 10px;
}
li {
    background-color:  #3CE6B0;
    border: 1px solid #3C64E6;
    padding: 10px;
    list-style-type: none;
}
ul {
    background-color:  #FF9582;
    padding: 10px;
}
.teal {
background-color: lightgreen
}
#grey {
    background-color: grey;
}
#salmon {
background-color: salmon;
}
#orange {
background-color: orange;
}
.darkblue {
background-color: darkblue;
}
#mainidea {
    background-color: beige;
    color: mediumvioletred;
} */


/* ----nth child--- */
div:nth-child() {
    background-color:#C2f6ff;
    list-style-type: square;
})
li:nth-child(){
    background-color:#C2f6ff;
    list-style-type: square;
}
ul:nth-child() {
    background-color: darkblue;
    color: white;
    }
h1:nth-child() {
    font-size: 2em;
    color: white;
    background-color: red;
}
p:nth-child() {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #004d99;
    font-size: 1.2em;
    background-color:  #FF9582;
}
ul:nth-child(1) > li:nth-child(1)


div ul:nth-child() {
    background-color:  #EBD99B;
}



/*---nth-of-type ----*/
p:nth-of-type() {
    background-color: #3E98F0;
}
li:nth-child(){
    background-color: violet;
}
li:nth-of-type() {
    background-color: yellow;
}
/* li:nth-of-type(2n-1) {
    background-color: red;
}
li:nth-of-type(2n+1) {
    background-color: green;
} */



li:nth-child() {
    background-color: lightblue;
}
 div li:nth-child() {
background-color: yellow;
}

p:nth-child() {
    background-color: lightgreen;
}
p:nth-of-type() {
    background-color: yellow;
}
