/* background-color: 
light blue  #C2f6ff
lavender #C9ABEB
coral   #FF9582
beige #EBD99B
bright green #78FF75

*/




body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:large;
    margin-left:20px;
    margin-bottom: 200px;
}
h1:nth-child(1) {
font-size: 2em;
color: #003366;
border: 1px solid black;
}
p:nth-child(2) {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #004d99;
font-size: 1.2em;
}
p:nth-child(3){
font-size: 1.75em;
font-style: italic;
color: purple;
}
div:nth-child(4) {
border: 1px solid #e6f2ff;
height: 500px;

}
/* space div */
div:nth-child(4) {
border: 1px solid black;
padding: 10px;
}


div:nth-child(6) {
background-color: yellow;
}

div:nth-child() {
background-color: thistle;
}
div:nth-child() {
    background-color: #C2f6ff;
}

p:nth-of-type() {
background-color: violet;
}