/* -------PRESTON MEDIUM CSS----------- */

@media only screen and (min-width: 35rem) {
    primarynav {
        flex-direction: row;
    }

    nav button {
        display: none;
    }

    nav ul {
        margin-left: 2%;
        margin: 0;
        
    }
    nav ul li a{
        /* padding:10px 20px 10px 20px;   */
        padding: 20px;
        border: 
      
        
    }

    nav ul.hide {
        display: flex;
        flex-direction: row;
    }

    main footer {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .clouds {
        display: flex;
        display: row;
    }

    #banner {
        display: block;
    }

    .herosection {
        position: relative;
    }

    .summary {
        position: absolute;
        top: 40px;
        left: 20px;
    }

    #contact {
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        display: flex;
        flex-direction: row;
    }

    .art {
        display: flex;
        flex-direction: row;

    }

    .left {
        padding: 20px;

    }

    .right {
        margin: 1em;
    }

    .ftable {
        background-color: rgb(64, 8, 3, 0.5);
 
        margin: 5px auto 5px auto;
        display: inline;

    }

    .ftable tr td {
        border: 1px solid #bbbcbb;
        border-collapse: collapse;
        padding: 20px;
        color: #e7c387;
        text-align: center;
    }

    .ticon {
        width: 5rem;
    }
    #forecastbackground {
        background-color: linen;
        padding: 8px;
        text-align: center;
        margin: 10px auto 10px auto;
        }

}