/* -------PRESTON MEDIUM CSS----------- */

@media only screen and (min-width: 35rem) {


    main footer {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .clouds {
        display: flex;
        display: row;
    }

    #banner {
        display: block;
    }

    .herosection {
        position: relative;
    }

    .summary {
        position: absolute;
        top: 40px;
        left: 20px;
    }


    #contact {
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        display: flex;
        flex-direction: row;
    }

    .art {
        display: flex;
        flex-direction: row;

    }

    .left {
        padding: 20px;

    }

    .right {
        margin: 1em;
    }
  .ftable {
background-color: pink;

  }
  .ftable tr td {
    border: 1px solid #bbbcbb;
    border-collapse: collapse;
    padding: 20px;
    

  }

}