
/*Decorative for titles

font-family: 'Love Ya Like A Sister', cursive;
<style>
@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Bowlby+One+SC|Love+Ya+Like+A+Sister|Luckiest+Guy|Special+Elite&display=swap');
</style>
*/
/* Serif for the wording
Quando is nice, try that first
font-family: 'Merriweather', serif;
font-family: 'Quando', serif;
<style>
@import url('https://fonts.googleapis.com/css?family=Merriweather|Neuton|Quando|Taviraj|Vollkorn&display=swap');
</style>
*/
/*
orange #f29c50
dark orange #bf612a
dark orange beige #a98363
burgundy #400803
dark burgundy #200206

grey #a69180
light green #7fa663
pretty green #447322
dark green #335922
darkest grey #0d0d0d
*/
/* -----PRESTON SMALL CSS PAGE---- */



body {
	background-color: yellow;
	font-family: 'Quando', serif;
}
h1 {
   font-family: 'Love Ya Like A Sister', cursive;
   margin-bottom: 0px;
	font-size: 2em;
	
}
header h2 {
	font-family: 'Merriweather', serif;
    font-size: 1em;
	margin-top: 0px;
}
header {
	padding-top: 10px;
	background-color: #7fa663;
}
#potatoman {
	width: 6em;
	margin-bottom: 0px;
}
.tagline {
	text-align: center;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
nav {
	background-color: #f29c50;

}
nav button {
	margin: .2rem 2%;
	background-color: transparent;
	border: none;
	color: purple;
	font-size: 1.6rem;
}
nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0;
}
nav ul li a {
	display: block;
	padding: .8rem 2%;
	text-decoration: none;
	color: #000000;
	border-top: 1px solid rgba(0,0,0,0.30); 
}
nav ul li a:hover {
	background-color: blue;
	
}
nav ul li.active a {
	background-color: pink;
	color: white;
}
nav ul.hide {
	display: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.herosection img {
	max-width: 100%;
	height: auto;
	background-color: purple;
}
footer {
	text-align: center;
}


