/* ------PRESTON LARGE CSS----------- */

@media only screen and (min-width: 64rem) {

    nav button {
        display: none;
    }

    nav ul {
      
    }

  

    nav ul li a {
        padding: .6rem 1rem;

    }

    nav ul.hide {
        display: block;
    }

    .topsection {
        position: relative;
        background-color: lightgray;
    }
    .position {
        display: flex;
        /* border: 2px solid green; */
    }
    
    .left {
    
        padding: 20px;
        /* border: 2px solid red; */
    }
    
    .right {
        border: 2px solid purple;
    }
  
  
}