/* ------PRESTON LARGE CSS----------- */

@media only screen and (min-width: 64rem) {

    nav button {
        display: none;
    }

    nav ul {
        /* margin-left: 2%; */
        margin: 0;
        display: flex;
        flex-direction: row;
        border: 1px solid green;

    }

    nav ul li {
        /* float: left; */
       
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.30);
        padding: .6rem 1rem;

    }

    nav ul.hide {
        display: block;
    }

