
/* -------PRESTON MEDIUM CSS----------- */

@media only screen and (min-width: 35rem) {
  
    main footer {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .clouds {
        display: inline;
    }

        
    
    }