/* -------PRESTON MEDIUM CSS----------- */

@media only screen and (min-width: 35rem) {

    main footer {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .clouds {
        display: flex;
        display: row;
    }

    #banner {
        display: block;

    }

    .herosection {
        position: relative;
    }

    #topphoto {
        border: 2px solid rgb(255, 255, 255, 0.5);
    }

    .summary {
        position: absolute;
        top: 40px;
        left: 60px;
    }