/*Decorative for titles

font-family: 'Love Ya Like A Sister', cursive;
<style>
@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Bowlby+One+SC|Love+Ya+Like+A+Sister|Luckiest+Guy|Special+Elite&display=swap');
</style>
*/
/* Serif for the wording
font-family: 'Englebert', sans-serif;
Quando is nice, try that first
font-family: 'Merriweather', serif;
font-family: 'Quando', serif;
<style>
@import url('https://fonts.googleapis.com/css?family=Merriweather|Neuton|Quando|Taviraj|Vollkorn&display=swap');
</style>
*/
/*
orange #f29c50 rgb(242,156,80)
dark orange #bf612a
dark orange beige #a98363
burgundy #400803 rgb(64,8,3);
dark burgundy #200206

grey #a69180
light green #7fa663
pretty green #447322
dark green #335922
darkest grey #0d0d0d

New PLW Colors
Blue #80b0d8   rgba(128,176,216,__)
Potato orange #f39c4d rgb(243,156,77)
Forest Green #467322  rgb(70,115,34)
Yellow #f1d013 rgb(241,208,19)
Brown #3f2d05 rgb(63,45,5);
*/
/* -----PRESTON SMALL CSS PAGE---- */



body {
	font-family: 'Quando', serif;
	background-color: #a98363
}

p {
	font-family: 'Quando', serif;
}

main {
	width: 90%;
	background-color: ;
	margin: auto;
}

h1 {
	font-family: 'Love Ya Like A Sister', cursive;
	margin-bottom: 0px;
	font-size: 2em;

}

header h2 {
	font-family: 'Merriweather', serif;
	font-size: 1em;
	margin-top: 0px;
}

header {
	padding-top: 30px;
	background-color: #80b0d8;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;

}

#potatoman {
	width: 6rem;
	margin-bottom: 0px;
}

.tagline {
	text-align: center;
}



.cloudheader {
	display: flex;
	margin-top: 2em;
	margin-bottom: 2em;
}

.clouds {
	display: none;
}

nav {
	background-color: #f39c4d;
	align-items: center;
	font-size: 1.3em;
	text-align: center;

}

nav button {
	margin: .2rem 2%;
	background-color: transparent;
	border: none;
	color: #3f2d05;
	font-size: 1.6rem;

}

nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0;
	color: #3f2d05;
	text-align: center;

}

/* nav ul li {
	align-items: center;
} */

nav ul li a {
	display: block;
	padding: .8rem 2%;
	text-decoration: none;
	color: #000000;
	/* border-top: 1px solid rgba(0, 0, 0, 0.30); */
}

nav ul li a:hover {
	background-color: #467322;
	color: #f39c4d;
}

nav ul li.active a {
	background-color: #f1d013;
	color: #3f2d05;
}

nav ul.hide {
	display: none;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


#topphoto img {
	margin: auto;
}
.herosection {
	max-width: 100%;
}

footer {
	text-align: center;
	background-color: #f39c4d;
	color: #3f2d05;
	padding: 20px;
	width: 90%;
	margin: auto;
}

#contact {
	background-color: #f1d013;
	color: #3f2d05;
}

.summary {
	background-color: rgba(255, 255, 255, 0.5);
	width: 200px;
	height: 200px;
	padding: 40px;
	line-height: 1.6;
	margin: 0;
}

#banner {
	width: 100%;
	background-color: rgb(241, 208, 19, 0.9);
	font-family: 'Englebert', sans-serif;
	margin: 0;
	text-align: center;
	font-size: large;
}

#forecastbox {
	display: none;
}

article {
	background-color: rgb(64, 8, 3, 0.4);
	padding: 20px;

}



article img {
	float: right;
	width: 50%;
}