/*Decorative for titles
font-family: 'Luckiest Guy', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Love Ya Like A Sister', cursive;
<style>
@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Bowlby+One+SC|Love+Ya+Like+A+Sister|Luckiest+Guy|Special+Elite&display=swap');
</style>
*/
/* Serif for the wording
Quando is nice, try that first
font-family: 'Taviraj', serif;
font-family: 'Neuton', serif;
font-family: 'Merriweather', serif;
font-family: 'Vollkorn', serif;
font-family: 'Quando', serif;
<style>
@import url('https://fonts.googleapis.com/css?family=Merriweather|Neuton|Quando|Taviraj|Vollkorn&display=swap');
</style>
*/
/*
orange #f29c50
dark orange #bf612a
dark orange beige #a98363
burgundy #400803
dark burgundy #200206

grey #a69180
light green #7fa663
pretty green #447322
dark green #335922
darkest grey #0d0d0d
*/


body {
background-color: #70b3e6;
font-family: 'Quando', serif;
margin: 50px;

}
header {

}
nav {

}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
      
}
li {
    display: inline;
}
h1 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 3em;
   
}
h2 {
    font-family: 'Merriweather', serif;
}
main {
    text-align: left;
   
}
