/* ------PRESTON LARGE CSS----------- */

@media only screen and (min-width: 64rem) {

    /* nav button {
        display: none;
    }

    nav ul {
        margin-left: 2%; 
         margin: 0;
        
        border: 1px solid green;

    }

    nav ul li a {
        display: flex;
        flex-direction: row;
        padding: .6rem 1rem;

    }

    nav ul.hide {
        display: block;
    } */

    .topsection {
        position: relative;
        background-color: lightgray;
    }
    .gridcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 20px;
        justify-content: center;
    }
    .ftable tr td {
        border: 1px solid #bbbcbb;
        border-collapse: collapse;
        padding: 20px;
        color: #e7c387;
        text-align: center;
        background-color: rgb(64, 8, 3, 0.5);
    }
      /*WEATHER INDEX weather page*/

      .towninfo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .flexbox2 {
        display: flex;
        flex-direction: column;
        /* margin: 10px; */
    }
    

    .flexbox2 div {
        width: 90%;
       margin:0 auto 0 auto;
        padding: 5px;
        
        
    }

    .flexbox2 img {
        width: 90%;
        margin:0 auto 0 auto; 

    }

    .flexbox2:nth-of-type(2) {
        flex-direction: column;
    }

   
}