/*Decorative for titles

font-family: 'Love Ya Like A Sister', cursive;
<style>
@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Bowlby+One+SC|Love+Ya+Like+A+Sister|Luckiest+Guy|Special+Elite&display=swap');
</style>
*/
/* Serif for the wording
font-family: 'Englebert', sans-serif;
Quando is nice, try that first
font-family: 'Merriweather', serif;
font-family: 'Quando', serif;
<style>
@import url('https://fonts.googleapis.com/css?family=Merriweather|Neuton|Quando|Taviraj|Vollkorn&display=swap');
</style>
font-family: dry-cowboy, sans-serif;
font-weight: 400;
font-style: normal;
*/
/*
orange #f29c50 rgb(242,156,80)
dark orange #bf612a
dark orange beige #a98363
burgundy #400803 rgb(64,8,3);
dark burgundy #200206

grey #a69180
light green #7fa663
pretty green #447322
dark green #335922
darkest grey #0d0d0d

New PLW Colors
Blue #80b0d8   rgba(128,176,216,__)
Potato orange #f39c4d rgb(243,156,77)
Forest Green #467322  rgb(70,115,34)
Yellow #f1d013 rgb(241,208,19)
Brown #3f2d05 rgb(63,45,5);
*/
/* -----PRESTON SMALL CSS PAGE---- */



body {
	font-family: 'Quando', serif;
	background-color: #a98363;
}

p {
	font-family: 'Quando', serif;
}

main {
	width: 90%;
	margin: auto;
}

h1 {
	font-family: 'Love Ya Like A Sister', cursive;
	margin-bottom: 0px;
	font-size: 2em;

}

header h2 {
	font-family: 'Merriweather', serif;
	font-size: 1em;
	margin-top: 0px;
}

header {
	background-color: #80b0d8;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#potatoman {
	width: 6rem;
	margin-bottom: 0px;
}

.tagline {
	text-align: center;
}

.cloudheader {
	display: flex;
	margin-top: 2em;
	margin-bottom: 2em;
}

.clouds {
	display: none;
}

.primarynav ul {
	display: flex;
	flex-direction: column;
}

nav {
	background-color: #f39c4d;
	align-items: center;
	font-size: 1.3em;
	text-align: center;
	width: 100%;

}

nav button {
	margin: .2rem 2%;
	background-color: transparent;
	border: none;
	color: #3f2d05;
	font-size: 1.6rem;
	padding: 10px 10px;

}

nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0;
	color: #3f2d05;
	justify-content: center;
}

nav ul li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.20);
}

nav ul li a {
	padding: .8rem 2%;
	text-decoration: none;
	color: #000000;

}

nav ul li a:hover {
	background-color: #467322;
	color: rgb(241, 208, 19);
	font-size: 1.15em;
}

nav ul li.active a {
	background-color: rgba(241, 208, 19, 0.25);
	color: #467322;
}

nav ul.hide {
	display: none;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#valleyintro {
	background-color: #80b0d8;
	color: #400803;
	padding: 10px;
	border-radius: 2px;
	margin: 5px auto 5px auto;
}


#topphoto img {
	margin: 0;
	width: 100%;
}

.centered {
	text-align: center;
	background-color: linen;
	color: #3f2d05;
	padding: 20px;
	width: 75%;
	margin: 10px auto 10px auto;
	border-radius: 2px;

}

.herosection {
	background-color: lightgrey;
}

footer {
	text-align: center;
	background-color: #f39c4d;
	color: #3f2d05;
	padding: 20px;
	width: 90%;
	margin: auto;
}

.summary {
	background-color: rgba(255, 255, 255, 0.5);
	width: 250px;
	height: 250px;
	padding: 20px;
	line-height: 1.6;
	margin: 0;
	border-radius: .5em;
}

.summary h3 {
	margin: 0;
}

.summary ul li {
	list-style: none;
}

#banner {
	width: 100%;
	background-color: rgb(241, 208, 19, 0.9);
	font-family: 'Englebert', sans-serif;
	margin: 0;
	text-align: center;
	font-size: large;
	padding: 20px;
}

.hide {
	display: none;
}

figure {
	margin: 0;
}

article h3 {
	margin: 0;
}

article {
	margin: 5px auto 5px auto;
	background-color: #7fa663;
}

.art {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

#contact h3 {
	margin-block-start: 1em;
}

#contact {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	background-color: #e7c387;
	color: #3f2d05;
}


#contactright {
	padding: 20px;
}

.ftable {
	display: none;
}

#history {
	line-height: 150%;
	padding: 10px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.gallery {
	margin: 20px;
	padding: 20px;

}

.gridcontainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;

}

.gallerymain {
	background-color: rgba(51, 89, 34, 1);
	width: 100%;
	text-align: center;
	margin-top: 0;
	padding: 20px;
}

.imgbox {
	background-color: #a98363;
	padding: 20px 20px 10px 20px;
	font-style: italic;
	border-radius: 7.5px;
}

figcaption {
	padding: 5px;
	margin: 0;
	background-color: linen;
	font-size: .5em;
	font-style: italic;
}

#gallerytitle {
	color: #80b0d8;
	text-shadow: 1px 1px #200206#f1d013;
}

.gridbox {
	border-radius: 2px;
}

/*MAIN WEATHER INDEX PAGE*/
.towninfo img {
	/* padding: 10px; */
	box-shadow: 3px 3px 10px 2px #333;
}

.towninfo section {
	background-color: #7fa663;
	padding: 10px;
	text-align: center;
	border: 1px solid rgb(63, 45, 5, .5);
}

.flexbox2 {
	display: flex;
	flex-direction: column;
}

.flexbox2 div {
	background-color: rgba(128, 176, 216, 0.75);
}

/*storm report*/

.danger {
	padding: 5px;
}

fieldset {
	padding: 10px;
	margin: 5px;
	background-color: #7fa663;
	display: block;
	border-radius: 10px;
}

form {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

label {
	padding: 5px;

}

.pinfo {
	display: block;
}

.abtstm {
	display: block;
}

#moreinfo {
	display: block;
	width: 90%;
	margin-top: 8px;
	margin: 8px auto 10px auto;
	padding: 10px;
}


.stormheader {
	background-color: rgb(64, 8, 3, 0.75);
	color: rgb(241, 208, 19, .80);
	margin-top: 20px;
	max-width: 100%;
	padding: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	line-height: 2em;
}

.stormheader h2 {
	font-size: 1.75rem;
	margin-bottom: 2px;
}

#submitbutton {
	background-color: rgb(64, 8, 3, 0.75);
	color: rgb(241, 208, 19, .80);
	padding: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
}

#thanksforsending {
	width: 50%;
	height: 100px;
	background-color: #80b0d8;
	color: #400803;
	text-align: center;
	font-size: .75rem;
	padding: 30px;
	margin: 10px auto 10px auto;
	line-height: 200%;

}

.events {
	background-color: #e7c387;
	color: #3f2d05;
	text-align: center;
	padding: 10px;
	width: 50%;
	margin: 10px auto 10px auto;
	border-radius: 2px;
	;
}

.space {
	margin: 10px;
	font-family: dry-cowboy, sans-serif;
}

#weatherclimate {
	text-align: center;
}
#weatherclimate img {
	 
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	 }


#valleyintro {
	background-color: #80b0d8;
	color: #400803;
	padding: 10px;
	border-radius: 2px;
	margin: 5px auto 5px auto;
	text-align: center;
}

.slant {
	font-style: italic;
}
p1 {
font-style: italic;
}


